
<ion-header>
  <ion-toolbar color="coneculta">
    <ion-buttons slot="start" >
      <ion-menu-button color="light" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>

  </ion-toolbar>
    <div class="row">
      <div class="col1">
        <div class="dummy-card">
          <div class="clock">
            <div class="num num1">I</div>
                <div class="snum num1-1">I</div>
                <div class="snum num1-2">I</div>
                <div class="snum num1-3">I</div>
                <div class="snum num1-4">I</div>
            <div class="num num2">I</div>
                <div class="snum num2-1">I</div>
                <div class="snum num2-2">I</div>
                <div class="snum num2-3">I</div>
                <div class="snum num2-4">I</div>
            <div class="num num3">I</div>
                <div class="snum num3-1">I</div>
                <div class="snum num3-2">I</div>
                <div class="snum num3-3">I</div>
                <div class="snum num3-4">I</div>
            <div class="num num4">I</div>
                <div class="snum num4-1">I</div>
                <div class="snum num4-2">I</div>
                <div class="snum num4-3">I</div>
                <div class="snum num4-4">I</div>
            <div class="num num5">I</div>
                <div class="snum num5-1">I</div>
                <div class="snum num5-2">I</div>
                <div class="snum num5-3">I</div>
                <div class="snum num5-4">I</div>
            <div class="num num6">I</div>
                <div class="snum num6-1">I</div>
                <div class="snum num6-2">I</div>
                <div class="snum num6-3">I</div>
                <div class="snum num6-4">I</div>
            <div class="num num7">I</div>
                <div class="snum num7-1">I</div>
                <div class="snum num7-2">I</div>
                <div class="snum num7-3">I</div>
                <div class="snum num7-4">I</div>
            <div class="num num8">I</div>
                <div class="snum num8-1">I</div>
                <div class="snum num8-2">I</div>
                <div class="snum num8-3">I</div>
                <div class="snum num8-4">I</div>
            <div class="num num9">I</div>
                <div class="snum num9-1">I</div>
                <div class="snum num9-2">I</div>
                <div class="snum num9-3">I</div>
                <div class="snum num9-4">I</div>
            <div class="num num10">I</div>
                <div class="snum num10-1">I</div>
                <div class="snum num10-2">I</div>
                <div class="snum num10-3">I</div>
                <div class="snum num10-4">I</div>
            <div class="num num11">I</div>
                <div class="snum num11-1">I</div>
                <div class="snum num11-2">I</div>
                <div class="snum num11-3">I</div>
                <div class="snum num11-4">I</div>
            <div class="num num12">I</div>
                <div class="snum num12-1">I</div>
                <div class="snum num12-2">I</div>
                <div class="snum num12-3">I</div>
                <div class="snum num12-4">I</div>
            <div class="hr-hand" #hrHand></div>
            <div class="min-hand" #minHand></div>
            <div class="sec-hand" #secHand></div>
          </div>
        </div>
    
      </div>
      <div class="col2 pb-10 pt-5">
        <div class="fontzise-25 white mb-2">{{dia}}</div>
        <div class="fontzise-25 white mb-2">{{hora}}</div>
        <div class="fontzise-15 gray mb-2">{{fecha}}</div>
      </div>
</div>
</ion-header>

<ion-content>
    

    
    <ion-grid>
    

      <!--ion-item *ngIf="horarios.length > 0">
        <ion-label>Nombre</ion-label>
        <ion-label>Telefono</ion-label>
      </ion-item>
      <ion-list *ngFor="let em of horarios; let i = index">
        <ion-item>
          <ion-label>{{em.hora_entrada}}</ion-label>
          <ion-label>{{em.hora_salida}}</ion-label>
        </ion-item>
      </ion-list-->
        
        <ion-row> 
            <ion-col class="border-gray px-5">
              <div class="row">
                <div class="col-80 px-4">
                    <div><ion-label class=primary-color>Entrada</ion-label></div>
                    <div><ion-label>{{hora_entrada}}</ion-label></div>
                </div>
                <div class="col-20 pl-2 pt-2">
                    <ion-icon size="large" name="checkmark"></ion-icon>
                </div>
              </div>
            </ion-col>
        </ion-row>
        
        <ion-row *ngIf="hora_salida == '17:00' "> 
          <ion-col class="border-gray px-5">
            <div class="row">
              <div class="col-80 px-4">
                  <div><ion-label class=primary-color>salida</ion-label></div>
                  <div><ion-label>{{hora_salida}}</ion-label></div>
              </div>
              <div class="col-20 pl-2 pt-2">
                  <ion-icon size="large" name="time-sharp"></ion-icon>
              </div>
            </div>
          </ion-col>
      </ion-row>

        <div class="mt-40 px-5">
          <div class="text-center"><ion-label >Realizar una salida antes de las 17:15 horas sdasd</ion-label></div>
        </div>
        
    </ion-grid>
    
    <footer class="contenedor">
      
      <form (ngSubmit)="inicio()">
        <div class="mb-25 px-6">
          <div class="text-center">
            <ion-button expand="full" type="submit" color="coneculta">Ver asistencias</ion-button>
          </div>
        </div>
      </form>

    </footer>
   
</ion-content>
