<ion-header>
  <ion-toolbar color="coneculta">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="/ver-asistencias" text="Regresar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
    <div class="row">
      <div class="col1 pl-12 pt-3"><ion-img style="width: 80%; height: 80%;" src="/assets/icon/relojDePared.svg"></ion-img></div>
      <div class="col2 pb-10 pt-5">
        <div class="fontzise-25 white mb-2">Viernes</div>
        <div class="fontzise-15 gray mb-2">02/11/2021</div>
        <div class="fontzise-25 white mb-2">Inasistencia</div>
      </div>
</div>
</ion-header>

<ion-content>
    
    <ion-grid>
    
        <ion-row> 
            <ion-col class="border-gray px-5">
              <div class="row">
                <div class="col-80 px-4">
                    <div><ion-label class=primary-color>Entrada</ion-label></div>
                    <div><ion-label>8:15am</ion-label></div>
                </div>
                <div class="col-20 pl-2 pt-2">
                    <ion-icon size="large" name="checkmark"></ion-icon>
                </div>
              </div>
            </ion-col>
        </ion-row>
        
        <ion-row> 
          <ion-col class="border-gray px-5">
            <div class="row">
              <div class="col-80 px-4">
                  <div><ion-label class=primary-color>Salida</ion-label></div>
                  <div><ion-label>8:15am</ion-label></div>
              </div>
              <div class="col-20 pl-2 pt-2">
                  <ion-icon size="large" name="time-sharp"></ion-icon>
              </div>
            </div>
          </ion-col>
      </ion-row>

        <div class="mt-40 px-5">
          <div class="text-center"><ion-label >Realizar una salida antes de las 17:15 horas sdasd</ion-label></div>
        </div>
        
    </ion-grid>
   
</ion-content>