h2{
    text-align: center;
   }
   h4{
    text-align: center;
   }
   .boton{
       width: 250px;
       height: 40px;
   }
   
   .cont1{
       text-align: center;
   }
   
   .input1{
       width: 300px;
       
   }
   
   .gandhi{
   font-family: var(--font-gandhi);
   color: rgb(58, 56, 56);
   }
   
   .gotham{
       font-family: var(--font-gotham);
       color: rgb(110, 110, 110);
   }
   