<ion-header>
  <ion-toolbar color="coneculta">
    <ion-buttons slot="start" >
      <ion-menu-button color="light" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button expand="block" color="coneculta" slot="end" (click)="scan()">
      Escanear
    </ion-button>
  </ion-item>


      
    <ion-item lines="full" >
      <div class="row text-align: center" >
        <div class="col-80">
          <ion-label >
            <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
          </ion-label>
        </div>
        <div class="col-20 pl-2 pt-2">
          <ion-icon size="large" name="search"></ion-icon>
        </div>
      </div>
    </ion-item>
    
    <ion-grid>

        <ion-row (click)="asistenciaDetalle()"> 
            <ion-col class="border-gray px-5">
              <div class="row">
                <div class="col-80 px-4">
                    <div><ion-label class=primary-color>gg</ion-label></div>
                </div>
                <div class="col-20 pl-2 pt-2">
                    <ion-icon size="large" name="checkmark"></ion-icon>
                </div>
              </div>
            </ion-col>
        </ion-row>

        <ion-list *ngFor="let guarda of asistenciaService.guardar" (click)="asistenciaDetalle(guarda)">
          <ion-item class="border-gray ">
            <ion-label>{{guarda.text}}</ion-label>
            <ion-label>{{guarda.date |  date:"dd/MM/yy,h:m a"}}</ion-label>
            <ion-label>{{currentUser.id }}</ion-label>
          </ion-item>
        </ion-list>
            
     



    </ion-grid>
    
    
   
</ion-content>

