<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Coneculta</ion-list-header>
          <div *ngIf="currentUser">
            <ion-note>{{currentUser.nombre + ' ' + currentUser.apellido}}</ion-note><br>
            <ion-note>{{currentUser.phone}}</ion-note>
          </div>
          <ion-menu-toggle auto-hide="false">
            <span *ngFor="let p of appPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail
                [class.selected]="selectedIndex == i">
                <ion-icon slot="start" [src]="p.svg"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </span>
            <ion-item (click)="exit()" routerDirection="root" lines="none" detail>
              <ion-icon slot="start" src="../assets/icon/exit-outline.svg"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
